@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap");
* {
  box-sizing: border-box;
}

body {
  min-height: 1000px;
  font-size: clamp(20px, 0.8em, 1em);
}

h1 {
  text-align: center;
  color: #2C3E50;
  font-family: "Pacifico", cursive;
  margin: 2% 0%;
}

p {
  color: black;
  font-size: 20px;
  text-align: justify;
}

.carte_avis {
  background-color: white;
  border-radius: 15px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.conteneur {
  margin: 0 auto;
  width: 90%;
  min-height: 1000px;
}

.formulaire {
  width: 50%;
  margin: 0% auto;
  min-height: 1000px;
}

.fa-trash {
  cursor: pointer;
}

.message_error {
  color: red;
  font-size: 0.9em;
}

.ville {
  color: #465869;
  font-weight: 600;
  font-size: 1.2em;
}

.card-body {
  line-height: 1.3em;
}

input[type=text],
input[type=email],
input[type=password],
input[type=adresse] {
  padding: 1.3em;
  font-size: 1em;
}

textarea[type=text] {
  padding: 1em;
  font-size: 1em;
}

.btn {
  padding: 10px 20px;
  font-size: 1em;
}

h2.card-title {
  font-size: 1.5em;
  font-family: "Pacifico", cursive;
}

.price {
  background: #18BC9C;
  box-shadow: 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadox: 0 1px 10px rgba(17, 63, 15, 0.2);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-shadow: 2px 2px #333;
  position: absolute;
  right: -9px;
  top: 20px;
  padding: 15px 10px;
  font-size: 1.2em;
  border-radius: 2px;
}

.price:before {
  border: 4px solid transparent;
  border-bottom: 4px solid #18BC9C;
  border-left: 4px solid #18BC9C;
  content: "";
  position: absolute;
  right: 1px;
  top: -8px;
}

.price2 {
  background: #18BC9C;
  box-shadow: 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadox: 0 1px 10px rgba(17, 63, 15, 0.2);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-shadow: 2px 2px #333;
  position: absolute;
  left: -9px;
  bottom: 40px;
  padding: 15px 10px;
  font-size: 1.2em;
  border-radius: 2px;
}

.price2:before {
  border: 4px solid transparent;
  border-bottom: 4px solid #18BC9C;
  border-right: 4px solid #18BC9C;
  content: "";
  position: absolute;
  left: 1px;
  bottom: 66px;
}

@media print {
  footer,
header {
    display: none;
  }
}
header {
  width: 100%;
}
header #logo {
  position: absolute;
  z-index: 1;
}
header .slogan {
  position: absolute;
  left: 85px;
  top: 110px;
  font-family: "Pacifico", cursive;
  color: #465869;
}
header #banniere_img {
  opacity: 0.4;
  width: 100%;
  height: 200px;
  z-index: 10;
}

.scroll_hide {
  display: none;
}

ol.breadcrumb {
  margin-bottom: 0;
}

.fa-shopping-basket {
  font-size: 1em;
}

.badge {
  font-size: 0.7em;
}

footer p {
  font-size: 0.9em;
}
footer #bas {
  color: #fff !important;
}
footer .fa-arrow-circle-up,
footer .fa-print {
  cursor: pointer;
}

.retour_scroll {
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 1;
}

#connexion_form {
  width: 50%;
  margin: 0% auto;
}
#connexion_form #nonmembre {
  height: 125px;
}
@media (max-width: 800px) {
  #connexion_form {
    width: 90%;
  }
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  bottom: 12px;
  right: 10px;
}

#inscription_form {
  width: 50%;
  margin: 0% auto;
}
@media (max-width: 800px) {
  #inscription_form {
    width: 90%;
  }
}

#reservation .row {
  justify-content: space-around;
}
#reservation .card-body h2.card-title {
  font-size: 1.5em;
  font-weight: 600;
}

#mdpperdu_form form {
  width: 50%;
  margin: 0% auto;
}
@media (max-width: 800px) {
  #mdpperdu_form form {
    width: 90%;
  }
}

#contact_form {
  width: 50%;
  margin: 0% auto;
}
@media (max-width: 800px) {
  #contact_form {
    width: 90%;
  }
}

#newsletter_form {
  width: 50%;
  margin: 0% auto;
}
@media (max-width: 800px) {
  #newsletter_form {
    width: 90%;
  }
}

#image_index {
  width: 100%;
}

#carousel_index h2 {
  font-family: "Pacifico", cursive;
}

#facture {
  height: 500px;
  padding-top: 80px;
}

#reinit_mdp_form {
  width: 50%;
  margin: 0% auto;
}
@media (max-width: 800px) {
  #reinit_mdp_form {
    width: 90%;
  }
}

.paiement_form {
  font-size: 0.8em;
}

/*# sourceMappingURL=style.css.map */
