#connexion_form {
    @include formulaire;
    #nonmembre {
        height: 125px;
    }
    @media(max-width: 800px) {
        width: 90%;
    }
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    bottom: 12px;
    right: 10px;
}